global:
  virtualGarden:
    enabled: false
  image:
    repository: eu.gcr.io/gardener-project/gardener/extensions/admission-openstack
    tag: latest
    pullPolicy: IfNotPresent
  replicaCount: 1
  resources: {}
  vpa:
    enabled: true
    resourcePolicy:
      minAllowed:
        cpu: 50m
        memory: 64Mi
    updatePolicy:
      updateMode: "Auto"
  webhookConfig:
    caBundle: |
      -----BEGIN CERTIFICATE-----
      ...
      -----END CERTIFICATE-----
    serverPort: 10250
    tls:
      crt: |
        -----BEGIN CERTIFICATE-----
        ...
        -----END CERTIFICATE-----
      key: |
        -----BEGIN RSA PRIVATE KEY-----
        ...
        -----END RSA PRIVATE KEY-----
  # Kubeconfig to the target cluster. In-cluster configuration will be used if not specified.
  kubeconfig:
