apiVersion: apps/v1
kind: Deployment
metadata:
  name: csi-snapshot-controller
  namespace: {{ .Release.Namespace }}
  labels:
    app: csi-snapshot-controller
    role: controller
spec:
  replicas: {{ .Values.csiSnapshotController.replicas }}
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: csi-snapshot-controller
      role: controller
  template:
    metadata:
      annotations:
{{- if .Values.csiSnapshotController.podAnnotations }}
{{ toYaml .Values.csiSnapshotController.podAnnotations | indent 8 }}
{{- end }}
      creationTimestamp: null
      labels:
        app: csi-snapshot-controller
        role: controller
        networking.gardener.cloud/to-dns: allowed
        networking.gardener.cloud/to-public-networks: allowed
        networking.gardener.cloud/to-shoot-apiserver: allowed
    spec:
      automountServiceAccountToken: false
      containers:
      - name: csi-snapshot-controller
        image: {{ index .Values.images "csi-snapshot-controller" }}
        imagePullPolicy: IfNotPresent
        args:
        - --kubeconfig=/var/run/secrets/gardener.cloud/shoot/generic-kubeconfig/kubeconfig
        - --leader-election=true
        - --leader-election-namespace=kube-system
{{- if .Values.csiSnapshotController.resources }}
        resources:
{{ toYaml .Values.csiSnapshotController.resources | indent 10 }}
{{- end }}
        volumeMounts:
        - mountPath: /var/run/secrets/gardener.cloud/shoot/generic-kubeconfig
          name: kubeconfig
          readOnly: true
      volumes:
      - name: kubeconfig
        projected:
          defaultMode: 420
          sources:
          - secret:
              items:
              - key: kubeconfig
                path: kubeconfig
              name: generic-token-kubeconfig
              optional: false
          - secret:
              items:
              - key: token
                path: token
              name: shoot-access-csi-snapshot-controller
              optional: false
