{{- define "cloud-provider-disk-config-node" -}}
[BlockStorage]
rescan-on-resize={{ .Values.rescanBlockStorageOnResize }}
{{- if .Values.nodeVolumeAttachLimit }}
node-volume-attach-limit={{ .Values.nodeVolumeAttachLimit }}
{{- end -}}
{{- end -}}

---
apiVersion: v1
kind: Secret
metadata:
  name: cloud-provider-config
  namespace: kube-system
type: Opaque
data:
  cloudprovider.conf: {{ include "cloud-provider-disk-config-node" . | b64enc }}
