{{- range $index, $machineClass := .Values.machineClasses }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $machineClass.name }}
  namespace: {{ $.Release.Namespace }}
{{- if $machineClass.labels }}
  labels: {{- toYaml $machineClass.labels | nindent 4 }}
{{- end }}
type: Opaque
data:
  userData: {{ $machineClass.secret.cloudConfig | b64enc }}
---
apiVersion: machine.sapcloud.io/v1alpha1
kind: MachineClass
metadata:
  name: {{ $machineClass.name }}
  namespace: {{ $.Release.Namespace }}
{{- if and $machineClass.operatingSystem $machineClass.labels }}
  labels: {{- merge $machineClass.operatingSystem $machineClass.labels | toYaml | nindent 4 }}
{{- else if $machineClass.operatingSystem }}
  labels: {{- toYaml $machineClass.operatingSystem | nindent 4 }}
{{- else if $machineClass.labels }}
  labels: {{- toYaml $machineClass.labels | nindent 4 }}
{{- end }}
provider: "OpenStack"
{{- if $machineClass.nodeTemplate }}
nodeTemplate:
  architecture: {{ $machineClass.nodeTemplate.architecture }}
  capacity: {{- toYaml $machineClass.nodeTemplate.capacity | nindent 4 }}
{{- if $machineClass.nodeTemplate.virtualCapacity }}
  virtualCapacity:
{{ toYaml $machineClass.nodeTemplate.virtualCapacity | indent 4 }}
{{- end }}
  instanceType: {{ $machineClass.nodeTemplate.instanceType }}
  region: {{ $machineClass.nodeTemplate.region }}
  zone: {{ $machineClass.nodeTemplate.zone }}
{{- end }}
secretRef:
  name: {{ $machineClass.name }}
  namespace: {{ $.Release.Namespace }}
credentialsSecretRef:
  name: {{ $machineClass.credentialsSecretRef.name }}
  namespace: {{ $machineClass.credentialsSecretRef.namespace }}
providerSpec:
  apiVersion: openstack.machine.gardener.cloud/v1alpha1
  kind: MachineProviderConfig
  spec:
    region: {{ $machineClass.region }}
    availabilityZone: {{ $machineClass.availabilityZone }}
    flavorName: {{ $machineClass.machineType }}
    keyName: {{ $machineClass.keyName }}
{{- if $machineClass.imageID }}
    imageID: {{ $machineClass.imageID }}
{{- else }}
    imageName: {{ $machineClass.imageName }}
{{- end }}
    networkID: {{ $machineClass.networkID }}
    subnetID: {{ $machineClass.subnetID }}
    podNetworkCIDRs: {{ $machineClass.podNetworkCIDRs }}
{{- if $machineClass.rootDiskSize }}
    rootDiskSize: {{ $machineClass.rootDiskSize }}
{{- end }}
{{- if $machineClass.rootDiskType}}
    rootDiskType: {{ $machineClass.rootDiskType }}
{{- end }}
{{- if $machineClass.serverGroupID }}
    serverGroupID: {{ $machineClass.serverGroupID }}
{{- end }}
    securityGroups: {{- toYaml $machineClass.securityGroups | nindent 4 }}
{{- if $machineClass.tags }}
    tags: {{- toYaml $machineClass.tags | nindent 6 }}
{{- end }}
{{- end }}
