{{ if not (include "runtimeCluster.enabled" .) }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "name" . }}
  labels:
{{ include "labels" . | indent 4 }}
rules:
- apiGroups:
  - extensions.gardener.cloud
  resources:
  - backupbuckets
  - backupbuckets/status
  - backupentries
  - backupentries/status
  - bastions
  - bastions/status
  - clusters
  - controlplanes
  - controlplanes/status
  - dnsrecords
  - dnsrecords/status
  - infrastructures
  - infrastructures/status
  - workers
  - workers/status
  verbs:
  - get
  - list
  - watch
  - patch
  - update
- apiGroups:
  - resources.gardener.cloud
  resources:
  - managedresources
  verbs:
  - create
  - get
  - list
  - watch
  - patch
  - update
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - list 
  - watch 
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  resourceNames:
  - provider-openstack-leader-election
  - gardener-extension-heartbeat
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - ""
  - apps
  - batch
  - rbac.authorization.k8s.io
  - admissionregistration.k8s.io
  - apiextensions.k8s.io
  - networking.k8s.io
  - monitoring.coreos.com
  resources:
  - namespaces
  - namespaces/finalizers
  - events
  - secrets
  - configmaps
  - endpoints
  - deployments
  - deployments/scale
  - services
  - serviceaccounts
  - clusterroles
  - clusterrolebindings
  - roles
  - rolebindings
  - jobs
  - pods
  - pods/log
  - mutatingwebhookconfigurations
  - customresourcedefinitions
  - networkpolicies
  - servicemonitors
  - prometheusrules
  verbs:
  - create
  - get
  - list
  - watch
  - patch
  - update
  - delete
  - deletecollection
- apiGroups:
  - machine.sapcloud.io
  resources:
  - machineclasses
  - machinedeployments
  - machines
  - machinesets
  verbs:
  - create
  - get
  - list
  - watch
  - patch
  - update
  - delete
  - deletecollection
- apiGroups:
  - autoscaling.k8s.io
  resources:
  - verticalpodautoscalers
  verbs:
  - create
  - get
  - list
  - watch
  - patch
  - update
  - delete
- apiGroups:
  - policy
  resources:
  - poddisruptionbudgets
  verbs:
  - create
  - get
  - list
  - watch
  - patch
  - update
  - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "name" . }}
  labels:
{{ include "labels" . | indent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "name" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "name" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}
