{{ if (include "runtimeCluster.enabled" .) }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "name" . }}-runtime
  labels: {{- include "labels" . | nindent 4 }}
rules:
  - apiGroups:
    - extensions.gardener.cloud
    resources:
    - backupbuckets
    - backupbuckets/status
    - dnsrecords
    - dnsrecords/status
    verbs:
    - get
    - list
    - watch
    - patch
    - update
  - apiGroups:
    - coordination.k8s.io
    resources:
    - leases
    verbs:
    - create
    - list
    - watch
  - apiGroups:
    - coordination.k8s.io
    resources:
    - leases
    resourceNames:
    - provider-openstack-leader-election
    - gardener-extension-heartbeat
    verbs:
    - get
    - update
    - patch
  - apiGroups:
    - ""
    resources:
    - secrets
    verbs:
    - create
    - get
    - list
    - watch
    - patch
    - delete
  # required in dnsrecord reconciler to check if namespace has role=shoot label
  - apiGroups:
    - ""
    resources:
    - namespaces
    verbs:
    - list
    - watch
  # required for leader election to publish events
  - apiGroups:
    - ""
    resources:
    - events
    verbs:
    - create
    - patch
    - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "name" . }}-runtime
  labels: {{- include "labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "name" . }}-runtime
subjects:
- kind: ServiceAccount
  name: {{ include "name" . }}
  namespace: {{ .Release.Namespace }}
{{- end}}
