images:
  machine-controller-manager: image-repository:image-tag
  machine-controller-manager-provider-openstack: image-repository:image-tag

replicas: 1

podAnnotations: {}

podLabels: {}

providerName: provider-foo

# injected by generic worker actuator
genericTokenKubeconfigSecretName: generic-token-kubeconfig

namespace:
  uid: uuid-of-namespace

metricsPort: 10258
metricsPortOpenstack: 10259

vpa:
  enabled: true
  updatePolicy:
    updateMode: "Auto"

resources:
  mcm:
    requests:
      cpu: 31m
      memory: 70Mi
    limits:
      memory: 750Mi 
  mcmProviderOpenstack:
    requests:
      cpu: 30m
      memory: 64Mi
    limits:
      memory: 400Mi