images:
- name: terraformer
  sourceRepository: github.com/gardener/terraformer
  repository: eu.gcr.io/gardener-project/gardener/terraformer-openstack
  tag: "v2.18.1"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'protected'
      authentication_enforced: false
      user_interaction: 'gardener-operator'
      confidentiality_requirement: 'high'
      integrity_requirement: 'high'
      availability_requirement: 'low'

- name: cloud-controller-manager
  sourceRepository: github.com/kubernetes/cloud-provider-openstack
  repository: k8scloudprovider/openstack-cloud-controller-manager
  tag: "v1.21.0"
  targetVersion: ">= 1.18, < 1.22"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'protected'
      authentication_enforced: false
      user_interaction: 'gardener-operator'
      confidentiality_requirement: 'high'
      integrity_requirement: 'high'
      availability_requirement: 'low'
- name: cloud-controller-manager
  sourceRepository: github.com/kubernetes/cloud-provider-openstack
  repository: k8scloudprovider/openstack-cloud-controller-manager
  tag: "v1.22.2"
  targetVersion: "1.22.x"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'protected'
      authentication_enforced: false
      user_interaction: 'gardener-operator'
      confidentiality_requirement: 'high'
      integrity_requirement: 'high'
      availability_requirement: 'low'
- name: cloud-controller-manager
  sourceRepository: github.com/kubernetes/cloud-provider-openstack
  repository: k8scloudprovider/openstack-cloud-controller-manager
  tag: "v1.23.4"
  targetVersion: "1.23.x"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'protected'
      authentication_enforced: false
      user_interaction: 'gardener-operator'
      confidentiality_requirement: 'high'
      integrity_requirement: 'high'
      availability_requirement: 'low'
- name: cloud-controller-manager
  sourceRepository: github.com/kubernetes/cloud-provider-openstack
  repository: k8scloudprovider/openstack-cloud-controller-manager
  tag: "v1.24.3"
  targetVersion: "1.24.x"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'protected'
      authentication_enforced: false
      user_interaction: 'gardener-operator'
      confidentiality_requirement: 'high'
      integrity_requirement: 'high'
      availability_requirement: 'low'
- name: cloud-controller-manager
  sourceRepository: github.com/kubernetes/cloud-provider-openstack
  repository: k8scloudprovider/openstack-cloud-controller-manager
  tag: "v1.25.3"
  targetVersion: ">= 1.25"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'protected'
      authentication_enforced: false
      user_interaction: 'gardener-operator'
      confidentiality_requirement: 'high'
      integrity_requirement: 'high'
      availability_requirement: 'low'

- name: machine-controller-manager
  sourceRepository: github.com/gardener/machine-controller-manager
  repository: eu.gcr.io/gardener-project/gardener/machine-controller-manager
  tag: "v0.47.0"
- name: machine-controller-manager-provider-openstack
  sourceRepository: github.com/gardener/machine-controller-manager-provider-openstack
  repository: eu.gcr.io/gardener-project/gardener/machine-controller-manager-provider-openstack
  tag: "v0.13.0"

- name: csi-driver-cinder
  sourceRepository: github.com/kubernetes/cloud-provider-openstack
  repository: docker.io/k8scloudprovider/cinder-csi-plugin
  tag: "v1.20.3"
  targetVersion: "1.20.x"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'protected'
      authentication_enforced: false
      user_interaction: 'end-user'
      confidentiality_requirement: 'high'
      integrity_requirement: 'high'
      availability_requirement: 'low'
- name: csi-driver-cinder
  sourceRepository: github.com/kubernetes/cloud-provider-openstack
  repository: docker.io/k8scloudprovider/cinder-csi-plugin
  tag: "v1.21.0"
  targetVersion: "1.21.x"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'protected'
      authentication_enforced: false
      user_interaction: 'end-user'
      confidentiality_requirement: 'high'
      integrity_requirement: 'high'
      availability_requirement: 'low'
- name: csi-driver-cinder
  sourceRepository: github.com/kubernetes/cloud-provider-openstack
  repository: docker.io/k8scloudprovider/cinder-csi-plugin
  tag: "v1.22.2"
  targetVersion: "1.22.x"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'protected'
      authentication_enforced: false
      user_interaction: 'end-user'
      confidentiality_requirement: 'high'
      integrity_requirement: 'high'
      availability_requirement: 'low'
- name: csi-driver-cinder
  sourceRepository: github.com/kubernetes/cloud-provider-openstack
  repository: docker.io/k8scloudprovider/cinder-csi-plugin
  tag: "v1.23.4"
  targetVersion: "1.23.x"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'protected'
      authentication_enforced: false
      user_interaction: 'end-user'
      confidentiality_requirement: 'high'
      integrity_requirement: 'high'
      availability_requirement: 'low'
- name: csi-driver-cinder
  sourceRepository: github.com/kubernetes/cloud-provider-openstack
  repository: docker.io/k8scloudprovider/cinder-csi-plugin
  tag: "v1.24.5"
  targetVersion: "1.24.x"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'protected'
      authentication_enforced: false
      user_interaction: 'end-user'
      confidentiality_requirement: 'high'
      integrity_requirement: 'high'
      availability_requirement: 'low'
- name: csi-driver-cinder
  sourceRepository: github.com/kubernetes/cloud-provider-openstack
  repository: docker.io/k8scloudprovider/cinder-csi-plugin
  tag: "v1.25.3"
  targetVersion: ">= 1.25"
  labels:
    - name: 'gardener.cloud/cve-categorisation'
      value:
        network_exposure: 'protected'
        authentication_enforced: false
        user_interaction: 'end-user'
        confidentiality_requirement: 'high'
        integrity_requirement: 'high'
        availability_requirement: 'low'

- name: csi-provisioner
  sourceRepository: github.com/kubernetes-csi/external-provisioner
  repository: registry.k8s.io/sig-storage/csi-provisioner
  tag: "v3.4.0"
  targetVersion: ">= 1.20"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'private'
      authentication_enforced: false
      user_interaction: 'gardener-operator'
      confidentiality_requirement: 'low'
      integrity_requirement: 'high'
      availability_requirement: 'low'
- name: csi-attacher
  sourceRepository: github.com/kubernetes-csi/external-attacher
  repository: registry.k8s.io/sig-storage/csi-attacher
  tag: "v4.1.0"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'private'
      authentication_enforced: false
      user_interaction: 'gardener-operator'
      confidentiality_requirement: 'low'
      integrity_requirement: 'high'
      availability_requirement: 'low'
- name: csi-snapshotter
  sourceRepository: github.com/kubernetes-csi/external-snapshotter
  repository: registry.k8s.io/sig-storage/csi-snapshotter
  tag: "v6.2.1"
  targetVersion: ">= 1.20"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'private'
      authentication_enforced: false
      user_interaction: 'gardener-operator'
      confidentiality_requirement: 'low'
      integrity_requirement: 'high'
      availability_requirement: 'low'
- name: csi-snapshot-controller
  sourceRepository: github.com/kubernetes-csi/external-snapshotter
  repository: registry.k8s.io/sig-storage/snapshot-controller
  tag: "v6.2.1"
  targetVersion: ">= 1.20"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'private'
      authentication_enforced: false
      user_interaction: 'gardener-operator'
      confidentiality_requirement: 'low'
      integrity_requirement: 'high'
      availability_requirement: 'low'
- name: csi-snapshot-validation-webhook
  sourceRepository: github.com/kubernetes-csi/external-snapshotter
  repository: registry.k8s.io/sig-storage/snapshot-validation-webhook
  tag: "v6.2.1"
  targetVersion: ">= 1.20"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'private'
      authentication_enforced: false
      user_interaction: 'gardener-operator'
      confidentiality_requirement: 'low'
      integrity_requirement: 'high'
      availability_requirement: 'low'
- name: csi-resizer
  sourceRepository: github.com/kubernetes-csi/external-resizer
  repository: registry.k8s.io/sig-storage/csi-resizer
  tag: "v1.7.0"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'private'
      authentication_enforced: false
      user_interaction: 'gardener-operator'
      confidentiality_requirement: 'low'
      integrity_requirement: 'high'
      availability_requirement: 'low'
- name: csi-node-driver-registrar
  sourceRepository: github.com/kubernetes-csi/node-driver-registrar
  repository: registry.k8s.io/sig-storage/csi-node-driver-registrar
  tag: "v2.7.0"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'private'
      authentication_enforced: false
      user_interaction: 'end-user'
      confidentiality_requirement: 'low'
      integrity_requirement: 'high'
      availability_requirement: 'low'
- name: csi-liveness-probe
  sourceRepository: github.com/kubernetes-csi/livenessprobe
  repository: registry.k8s.io/sig-storage/livenessprobe
  tag: "v2.9.0"
  labels:
  - name: 'gardener.cloud/cve-categorisation'
    value:
      network_exposure: 'private'
      authentication_enforced: false
      user_interaction: 'end-user'
      confidentiality_requirement: 'low'
      integrity_requirement: 'high'
      availability_requirement: 'low'
