replicas: 1
clusterName: shoot-foo-bar
kubernetesVersion: 1.7.5
podNetwork: 192.168.0.0/16
podAnnotations: {}
podLabels: {}
featureGates: {}
  # CustomResourceValidation: true
  # RotateKubeletServerCertificate: false
images:
  hyperkube: image-repository:image-tag
userAgentHeaders: []
resources:
  requests:
    cpu: 100m
    memory: 64Mi
  limits:
    memory: 2Gi
tlsCipherSuites: []
secrets:
  server: cloud-controller-manager-server
