cloudProviderConfig: |
  <cloud-provider-config>

images:
  csi-driver-cinder: image-repository:image-tag
  csi-node-driver-registrar: image-repository:image-tag
  csi-liveness-probe: image-repository:image-tag

keystoneCACert:
socketPath: /csi/csi.sock
userAgentHeaders: []

webhookConfig:
  url: https://service-name.service-namespace/volumesnapshot
  caBundle: |
    -----BEGIN CERTIFICATE-----
    ...
    -----END CERTIFICATE-----

resources:
  driver:
    requests:
      cpu: 15m
      memory: 42Mi
  nodeDriverRegistrar:
    requests:
      cpu: 11m
      memory: 32Mi
  livenessProbe:
    requests:
      cpu: 11m
      memory: 32Mi
