images:
  csi-driver-cinder: image-repository:image-tag
  csi-node-driver-registrar: image-repository:image-tag
  csi-liveness-probe: image-repository:image-tag

socketPath: /csi/csi.sock
userAgentHeaders: []

webhookConfig:
  url: https://service-name.service-namespace/volumesnapshot
  caBundle: |
    -----BEGIN CERTIFICATE-----
    ...
    -----END CERTIFICATE-----

resources:
  driver:
    requests:
      memory: 42Mi
  nodeDriverRegistrar:
    requests:
      memory: 32Mi
  livenessProbe:
    requests:
      memory: 32Mi
