cloudProviderConfig: |
  <cloud-provider-config>

images:
  csi-driver-cinder: image-repository:image-tag
  csi-node-driver-registrar: image-repository:image-tag
  csi-liveness-probe: image-repository:image-tag

socketPath: /csi/csi.sock
vpaEnabled: false
userAgentHeaders: []

webhookConfig:
  url: https://service-name.service-namespace/volumesnapshot
  caBundle: |
    -----BEGIN CERTIFICATE-----
    ...
    -----END CERTIFICATE-----

resources:
  driver:
    requests:
      cpu: 20m
      memory: 50Mi
    limits:
      cpu: 100m
      memory: 80Mi
  nodeDriverRegistrar:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 30m
      memory: 50Mi
  livenessProbe:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 30m
      memory: 50Mi
