image:
  repository: eu.gcr.io/gardener-project/gardener/extensions/provider-openstack
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 1
resources: {}
vpa:
  enabled: true
  updatePolicy:
    updateMode: "Auto"

controllers:
  backupbucket:
    concurrentSyncs: 5
  backupentry:
    concurrentSyncs: 5
  controlplane:
    concurrentSyncs: 5
  csimigration:
    concurrentSyncs: 5
  infrastructure:
    concurrentSyncs: 5
  worker:
    concurrentSyncs: 5
  ignoreOperationAnnotation: false


disableControllers: []
disableWebhooks: []
ignoreResources: false
# imageVectorOverwrite: |
#   images:
#   - name: pause-container
#     sourceRepository: github.com/kubernetes/kubernetes/blob/master/build/pause/Dockerfile
#     repository: gcr.io/google_containers/pause-amd64
#     tag: "3.0"
#     version: 1.11.x
#   - name: pause-container
#     sourceRepository: github.com/kubernetes/kubernetes/blob/master/build/pause/Dockerfile
#     repository: gcr.io/google_containers/pause-amd64
#     tag: "3.1"
#     version: ">= 1.12"
#   ...

webhookConfig:
  serverPort: 443

config:
  clientConnection:
    acceptContentTypes: application/json
    contentType: application/json
    qps: 100
    burst: 130
  etcd:
    storage:
      className: gardener.cloud-fast
      capacity: 25Gi
      provisioner: kubernetes.io/cinder

gardener:
  seed:
    provider: openstack
