image:
  repository: europe-docker.pkg.dev/gardener-project/public/gardener/extensions/provider-openstack
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 1
maxUnavailable: 1
maxSurge: 50%

resources: {}
vpa:
  enabled: true
  updatePolicy:
    updateMode: "Recreate"

metricsPort: "{{ index .Values.usablePorts 0 }}"
healthPort: "{{ index .Values.usablePorts 2 }}"

monitoring:
  createClusterFilters: true

controllers:
  backupbucket:
    concurrentSyncs: 5
  backupentry:
    concurrentSyncs: 5
  bastion:
    concurrentSyncs: 5
  controlplane:
    concurrentSyncs: 5
  dnsrecord:
    concurrentSyncs: 5
  healthcheck:
    concurrentSyncs: 5
  heartbeat:
    renewIntervalSeconds: 30
  infrastructure:
    concurrentSyncs: 5
  worker:
    concurrentSyncs: 5
  ignoreOperationAnnotation: false

disableControllers: []
disableWebhooks: []
ignoreResources: false

# ignoreHAReplicas will set an annotation to the deployment that will change the HA webhook behavior and set the replicas to 1.
ignoreHAReplicas: false
# imageVectorOverwrite: |
#   images:
#   - name: pause-container
#     sourceRepository: github.com/kubernetes/kubernetes/blob/master/build/pause/Dockerfile
#     repository: gcr.io/google_containers/pause-amd64
#     tag: "3.0"
#     version: 1.11.x
#   - name: pause-container
#     sourceRepository: github.com/kubernetes/kubernetes/blob/master/build/pause/Dockerfile
#     repository: gcr.io/google_containers/pause-amd64
#     tag: "3.1"
#     version: ">= 1.12"
#   ...

webhookConfig:
  servicePort: 443
  serverPort: "{{ index .Values.usablePorts 1 }}"

## settings for metrics, e.g. scraping by seed-prometheus
metrics:
  ## enable metrics scraping
  enableScraping: true

config:
  clientConnection:
    acceptContentTypes: application/json
    contentType: application/json
    qps: 100
    burst: 130
  etcd:
    storage:
      enabled: true
      className: gardener.cloud-fast
      capacity: 25Gi
      provisioner: kubernetes.io/cinder
      volumeBindingMode: WaitForFirstConsumer
#       parameters:
#         type: volumetype-nameOrID
#     backup:
#       schedule: "0 */1 * * *"
# -- Deprecated, should be configured via CloudProfile
  bastionConfig:
    imageRef: ""
    flavorRef: ""

gardener:
  version: ""
  gardenlet:
    featureGates: {}
# seed:
#   provider: openstack
# runtimeCluster:
#   enabled: false
#   priorityClassName: gardener-garden-system-200
# selfHostedShootCluster: false

# logging:
#   level: info # info | debug | error - omitting defaults to "info"
#   format: json # text | json - omitting defaults to "json"

usablePorts:
- 8080  # metrics
- 10250 # webhook server
- 8081  # healthcheck
