name: Build
on:
  merge_group:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
  pull_request_target:
    types:
      - labeled
  push:
    branches:
    - 'master'
    - 'release-*'
  workflow_dispatch:

jobs:
  build:
    # only run if run was triggered by either:
    # - anything but a pull_request_target event or
    # - 'pull_request_target' event and pullrequest-label `ok-to-test` was added
    # (the latter label is hardcoded in gardener/cc-utils's trusted-checkout action)
    if: ${{ github.event_name != 'pull_request_target' || (github.event_name == 'pull_request_target' && github.event.label.name == vars.DEFAULT_LABEL_OK_TO_TEST && vars.DEFAULT_LABEL_OK_TO_TEST != '') }}
    uses: ./.github/workflows/build.yaml
    with:
      mode: snapshot
    secrets: inherit
    permissions:
      contents: write
      packages: write
      id-token: write
      pull-requests: write

  component-descriptor:
    if: ${{ github.event_name != 'pull_request_target' || (github.event_name == 'pull_request_target' && github.event.label.name == vars.DEFAULT_LABEL_OK_TO_TEST && vars.DEFAULT_LABEL_OK_TO_TEST != '') }}
    uses: gardener/cc-utils/.github/workflows/post-build.yaml@master
    needs:
      - build
    secrets: inherit
    permissions:
      id-token: write
      contents: write
